.title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.table-image td th {
    vertical-align: middle;
}

.table-title {
    font-size: large;
    font-weight: bold;
}

.center {
    text-align: center;
}

.gallerie ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 20px;
    padding-inline-end: 20px;

}

.gallerie li {
    height: 40vh;
    flex-grow: 1;
}

.gallerie li:last-child {
    flex-grow: 10;
}

.gallerie {
   max-height: 100px;
    min-width: 10%;
    object-fit: cover;
    vertical-align: bottom;
    list-style-type: none;
}