<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Modul 151</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
    <link href="/style.css" rel="stylesheet"/>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Rezepte</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/showRecipes">Liste aller Rezepte <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/addRecipe">Rezept erstellen<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/allMedias">Alle Medien<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->

<div class="container">
    <div class="col-md-4">
        <div class="thumbnail"  th:each="file : ${mediaList}" th:if="${file.getMimeType().startsWith('image/')}">
            <a th:href="@{|/img/${file.getId()}|}" target="_blank">
                <img th:src="@{|/img/${file.getId()}|}" style="width:100%">
                <div class="caption">
                    <br>
                    <a download class="btn btn-outline-secondary" th:href="@{|/img/${file.getId()}|}" >Download</a>
                    <br>
                </div>
            </a>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>